@import '~assets/styles/main.scss';

button {
  cursor: pointer;
  z-index: $zindex-button !important;
}

button.disabled {
  cursor: not-allowed;
}

h6 {
  color: $grey;
  font-family: $font-condensed;
  margin-bottom: 1vw;
  margin-top: 1vw;
  text-align: left;
}

.fa-icon {
  width: auto;
  height: 1em;
}

.form-control-feedback {
  height: 1vw;
}

.tab-title {
  color: $dark-green !important;
  font-family: $font-condensed;
}

.form-root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}

.card {
   background: none;
   border: 0;
}

input,
.form-control:focus,
.input-group-addon {
  color: $grey;
  background-color: rgba(255,255,255,1);
  border: 0;
  box-shadow: none;
}

.input-group-addon {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 10px 20px;
}

input {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px 20px 10px 0;
}

::placeholder {
  color: $grey;
}

.btn {
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  width: 200px;
  padding: 10px;
  // box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  border-radius: 4px;
  background: #39b54a;
  border: 0;
}

.sub-text,
.sub-text a {
  font-family: 'Roboto';
  color: white;
  font-size: x-small;
}

.is-invalid:not(.checkbox) .input-group {
  border: 1px solid #f15f59;
  border-radius: 4px;
}

.b-form-group.form-group.is-invalid .invalid-feedback {
  margin-top: 4px;
  background: $red;
  color: white;
  margin: 10px 0 0;
  padding: 10px;
  border-radius: 3px;
  img {
    width: 18px;
    float: left;
    padding: 0 0px;
  }
}

img.icon-in-input {
  position: absolute;
  right: 20px;
  top: 13px;
  z-index: 999;
  width: 20px;
}

.link {
  cursor: pointer;
  border-bottom: 1px solid white;
  font-weight: bold;
}

.v-popover span input,
.form-control {
  font-size: 1rem;
}

.sub-title {
  h5 {
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
  }
  p {
    color: white;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.2;
  }
}

.input-group {
  flex-wrap: nowrap;
}

.v-popover {
  width: 100%;
  span {
    input {
      width: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
