//== Libraries
@import '~bourbon/core/bourbon';
@import './vtooltip';

//== Colors

$anchor:                    #42B983;
$light-blue:                #56AFEA;
$blue:                      #2589F3;
$blue-bg:                   #437cc0;
$green:                     #59B54B;
$light-green:               #B1DB50;
$dark-green:                #7DBA3B;
$light-grey:                #B2B3B4;
$grey:                      #7E8189;
$orange:                    #F0AD4E;
$light-red:                 #DE5F66;
$red:                       #E54D42;
$white:                     #F5F5F5;
$notify-bg:                 #EAF4FE;
$notify-border:             #D4E8FD;
$box-shadow:                inset 0 1px 1px rgba(0, 0, 0, 0.075),
                            0 0 8px rgba(86, 175, 234, 0.6);
$button-shadow:             0 10px 7.5px 0 rgba(0, 0, 0, 0.1),
                            inset 0 -0.5px 0 0 rgba(0, 0, 0, 0.2),
                            inset 0 0.5px 0 0 rgba(255, 255, 255, 0.5);
$text-shadow:               0 0.5px 0 rgba(0, 0, 0, 0.2);

//== Media queries breakpoints

// Extra small screen / phone
$screen-xs:                 480px;
$screen-xs-min:             $screen-xs;

// Small screen / tablet
$screen-sm:                 768px;
$screen-sm-min:             $screen-sm;

// Medium screen / desktop
$screen-md:                 992px;
$screen-md-min:             $screen-md;

// Large screen / wide desktop
$screen-lg:                 1200px;
$screen-lg-min:             $screen-lg;

// Extra large screen / extra wide desktop
$screen-xl:                 1500px;
$screen-xl-min:             $screen-xl;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:             ($screen-sm-min - 1);
$screen-sm-max:             ($screen-md-min - 1);
$screen-md-max:             ($screen-lg-min - 1);
$screen-lg-max:             ($screen-xl-min - 1);

$screen: "only screen";
$xs-up: $screen;
$xs-only: "#{$screen} and (max-width: #{$screen-xs-max})";

$sm-up: "#{$screen} and (min-width: #{$screen-sm-min})";
$sm-only: "#{$screen} and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";

$md-up: "#{$screen} and (min-width: #{$screen-md-min})";
$md-only: "#{$screen} and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";

$lg-up: "#{$screen} and (min-width: #{$screen-lg-min})";
$lg-only: "#{$screen} and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max})";

$xl-up: "#{$screen} and (min-width: #{$screen-xl-min})";

//== Z-index

$zindex-button:              10 !default;
$zindex-dropdown-backdrop:  990 !default;
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-fixed:             1030 !default;
$zindex-sticky:            1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;

//== v-cloak
[v-cloak] {
  display: none;
}

// == Fonts

$font-condensed: 'Roboto Condensed', serif;
$font-normal: 'Roboto', serif;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
.btn,
.form-control {
  font-size: 0.8rem;
}

// == Mixins

@mixin page-mixin() {
  height: 100%;
  min-height: 100vh;
  background: url('~@/assets/images/full-size-bg.png') no-repeat center fixed;
  background-size: cover;
  // padding-top: 1rem;
  @include padding(1rem null null null);
}

//== Bootstrap Overrides

// Form Checkbox Input

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: $green;
}
.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-indicator {
  border-radius: .25rem;
}

.custom-control-indicator {
  position: absolute;
  top: 4px;
  top: .25rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  user-select: none;
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50% 50%;
}

label.custom-checkbox.custom-control {
  display: flex;
  align-items: center;
}

// Form Fieldset
.form-control-feedback {
  height: 2vw;
  margin-top: 0;
  position: relative;
  text-align: left;
  width: 100%;
  color: $red;
}

// Modal
.modal {
  top: 10%;
}
.modal-body {
  padding: 0;
}
.modal-content {
  background-color: $white;
  border-radius: 0.5vw;
}
.modal-header {
  padding: 0;
}

// Navbar
.navbar-dark .navbar-nav .nav-link {
  color: $white !important;
}
.nav-tabs .nav-link {
  color: $dark-green !important;
  font-family: $font-condensed;
}
.navbar-toggler {
  border-color: transparent;
  font-size: 1rem;
  z-index: $zindex-navbar;
}

//== Globals
.component-container {
  max-width: 25rem;
}

.uppercase {
  text-transform: uppercase;
}

.grey {
  color: $grey;
}

.failure {
  color: $red;
}

.white {
  color: #fff;
}

.pending {
  color: $orange;
}

.success-back {
  background: $green;
  -webkit-text-stroke: 1px $green;
}

.pending-back {
  background: $orange;
  -webkit-text-stroke: 1px $orange;
}

.grey-back {
  background: $light-grey;
}

.failure-back {
  background: $red;
  -webkit-text-stroke: 1px $red;
}

.no-margin {
  margin: 0!important;
}

.inner-flex {
  flex: 1 1 auto;
}

.word-break-all {
  word-break: break-all;
}

.card {
  margin: 15px;
  padding: 0px;
  border: 1px solid #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.10);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url('~@/assets/images/mobile-menu-icon.png');
}

.input-group {
  border: 1px solid transparent;
}

@media (min-width: $screen-sm-min) {
  .card {
    margin: 40px;
    padding: 20px;
  }
  .b-form-group.form-group.is-invalid .invalid-feedback {
    display: none !important;
  }
}
