@import '~assets/styles/main.scss';

.notice {
  padding: 30px 40px;
}

h6 {
  font-weight: bold;
  font-size: 14px;
}

.notify {
  padding: 20px 40px;
  background: #ebebeb;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}

.card {
  .contribution {
    border-radius: 10px;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #36D1DC, rgb(111, 146, 223));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #36D1DC, rgb(111, 146, 223)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    h1 {
      font-size: 60px;
      font-weight: 700;
    }
  }
}

.contribute-header {
  padding: 15px 30px;
  background: #dedede;
  text-align: left;
  font-weight: 700;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

.contribute {
  height: 100px;
  padding: 10px 20px;
  text-align: justify;
  margin: 0 10px;
}

.no-padding .col {
  padding: 0!important;
}

.dashboard-text {
  line-height: 2.5;
  text-align: justify;
}

.countdown-box {
  border: 1px solid #61d2f2;
  border-radius: 20px;
  padding: 20px 15px;
  font-size: 30px;
  font-weight: 600;
  p {
    font-size: initial;
    font-weight: normal;
  }
  .inner-flex {
    flex: 1 1 auto;
  }
}

.dashboard {
  color: #535971;
  max-width: 100vw;
}

.countdown {
  padding-left: 15px;
  padding-right: 15px;
  .col-3 {
    padding: 7px;
  }
}

.progressbar {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #36D1DC, rgb(111, 146, 223));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #36D1DC, rgb(111, 146, 223)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content: center;
  text-align: right;
  font-weight: bold;
  font-size: 15px;
}

.progress {
  border-radius: 20px;
}

.stretch {
  .goals {
    margin-bottom: -10px;
    color: #53b5c4;
    p {
      font-weight: bold;
      color: #535971;
    }
  }
  .col {
    white-space: nowrap;
  }
}

.vert-line:after {
    content:"";
    position: absolute;
    z-index: 99;
    top: 50px;
    bottom: 0;
    left: 50%;
    border-left: 3px solid white;
    transform: translate(-50%);
    height: calc(2rem + 5px);
}

.phases {
  img {
    width: 100%;
  }
  h6 {
    text-transform: uppercase;
  }
  .phase-box {
    border: 1px solid #5e89c4;
    padding: 15px;
    border-radius: 20px;
    &.world {
      img {
        width: 50%;
      }
      h5 {
        text-transform: uppercase;
        padding: 10px;
        font-weight: bold;
        color: #4d93c2;
      }
    }
  }
}

.wallet {
  .link {
    text-decoration: none;
    font-weight: bold;
    color: $green;
  }
  h5 {
    text-transform: uppercase;
    color: #5e89c4;
    font-weight: 500;
  }
  h1 {
    font-weight: normal;
    font-size: 50px;
    sup {
      top: -0.7em;
      font-size: 25px;
    }
  }
  .card-footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    .btn {
      background-color: $green;
      border-color: $green;
      padding: 10px 30px;
    }
  }
}

.transactions {
  &.card,
  .card-body {
    padding: 0;
    border: 0;
    h5 {
      padding: 30px 30px 10px;
    }
  }
  .table-head {
    background: $light-grey;
  }
  .tx-count {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #e7ebee;
    color: #e7ebee;
    font-size: 14px;
  }
  &.empty {
    position: relative;
    z-index: 1;
    table {
      color: #fff;
    }
    &:after{
      content: "";
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 99;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background:rgba(0, 0, 0, 0.35);
    }
  }
}

.empty-txn-wrapper {
  position: relative;
  .notif {
    position: absolute;
    z-index: 999;
    top: calc(50% - 55px);
    left: calc(50% - 170px);
    height: 70px;
    width: 300px;
  }
}

.green {
  color: $green;
}

.footer-text {
  text-transform: uppercase;
  font-weight: 500;
}

.lg-top-3rem {
  margin-top: 1rem;
}

.goals.mobile {
  .col + .col {
    text-align: right;
  }
}

div[class^='col-'] {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: $screen-xs-max) {
}
@media (min-width: $screen-xs-min) {
  .dashboard {
    max-width: 100%;
  }
}
@media (min-width: $screen-sm-min) {
  .card {
    margin: 40px;
    padding: 20px;
  }
  .empty-txn-wrapper {
    .notif {
      top: calc(50%-90px);
      left: calc(50%-220px);
      height: 100px;
      width: 360px;
    }
  }
  .card-footer {
    margin: 0 -20px -20px;
  }
  .countdown {
    padding-left: 8px;
    padding-right: 8px;
  }
  .notice {
    padding: 30px 40px;
    text-align: left;
  }

  div[class^='col-'] {
    padding-left: 15px;
    padding-right: 15px;
  }


}
@media (min-width: $screen-md-min) {

}
@media (min-width: $screen-lg-min) {

  .lg-top-3rem {
    margin-top: 3rem;
  }

}
