@import '~assets/styles/main.scss';

.social-row {
  img {
    max-width: 20px;
    margin: 3px;
    padding: 0 2px;
  }
  span {
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 0 10px;
  }
}
