<div class="dashboard">
  <div class="container-fluid">
    <b-row>
      <b-col class="notice">
        <h6 class="grey uppercase">
          Notices & announcements
        </h6>
        <span>
          CRV token ICO to launch in {{ days }} days
        </span>
      </b-col>
    </b-row>
    <b-row v-if="!isEmailVerified">
      <b-col class="notice text-left notify">
        <h6 class="failure">
          Your email address is not verified
        </h6>
        <div class="remarks">
          <span class="failure">
            Please verify your email address by visiting My Profile in the sidebar
          </span>
        </div>
      </b-col>
    </b-row>
    <b-row v-if="isKYCSubmitted && !isKYCVerified">
      <b-col class="notice text-left notify">
        <h6 class="failure">
          KYC verification is pending
        </h6>
        <div class="remarks">
          <span class="failure">
            Your KYC details is being reviewed by our KYC partner
          </span>
        </div>
      </b-col>
    </b-row>
    <b-row v-if="!isKYCSubmitted">
      <b-col class="notice text-left notify">
        <h6 class="failure">
          KYC verification not completed
        </h6>
        <div class="remarks">
          <span class="failure">
            Please submit your KYC details for verification
          </span>
        </div>
      </b-col>
    </b-row>
  </div>
  <div class="cards">
    <b-card class="text-left">
      <h5>
        ICO Countdown
      </h5>
      <b-container>
        <b-row class="mt-4">
          <b-col lg="12" xl="6">
            <b-card class="contribution text-center no-margin white">
              <h1>
                {{ sale.totalCollected | numFormat }}
              </h1>
              <h6>
                ETH CONTRIBUTED SO FAR
              </h6>
            </b-card>
            <b-row class="mt-4 countdown d-none d-md-flex">
              <b-col cols="3">
                <div class="countdown-box text-center">
                  {{ days }}
                  <p class="no-margin">
                    days
                  </p>
                </div>
              </b-col>
              <b-col cols="3">
                <div class="countdown-box text-center">
                  {{ hours }}
                  <p class="no-margin">
                    hrs
                  </p>
                </div>
              </b-col>
              <b-col cols="3">
                <div class="countdown-box text-center">
                  {{ min }}
                  <p class="no-margin">
                    min
                  </p>
                </div>
              </b-col>
              <b-col cols="3">
                <div class="countdown-box text-center">
                  {{ sec }}
                  <p class="no-margin">
                    sec
                  </p>
                </div>
              </b-col>
            </b-row>
            <b-row class="mt-4 countdown d-flex d-md-none">
              <b-col cols="12">
                <div class="countdown-box text-center d-flex">
                  <div class="inner-flex">
                    {{ days }}
                    <p class="no-margin">
                      days
                    </p>
                  </div>
                  <div class="inner-flex">
                    {{ hours }}
                    <p class="no-margin">
                      hrs
                    </p>
                  </div>
                  <div class="inner-flex">
                    {{ min }}
                    <p class="no-margin">
                      min
                    </p>
                  </div>
                  <div class="inner-flex">
                    {{ sec }}
                    <p class="no-margin">
                      sec
                    </p>
                  </div>
                </div>
              </b-col>
            </b-row>
          </b-col>
          <b-col xl="6" cols="12" class="d-none d-xl-block">
            <h2>
               Join Us
            </h2>
            <p class="dashboard-text">
              in establishing a community-based sharing economy model for holiday properties with Crowdvilla's CRV token. If you have
              used short-term apartment rental previously, and are expecting to keep using such services in the future, then this is for
              you!
            </p>
          </b-col>
        </b-row>
      </b-container>
      <b-container class="stretch mt-5 d-none d-sm-block">
        <b-row class="text-center goals no-padding">
          <b-col></b-col>
          <b-col></b-col>
          <b-col class="vert-line">
            STRETCH GOAL 1
            <p>
              100,000 ETH
            </p>
          </b-col>
          <b-col></b-col>
          <b-col></b-col>
          <b-col class="vert-line">
            STRETCH GOAL 2
            <p>
              250,000 ETH
            </p>
          </b-col>
          <b-col></b-col>
          <b-col></b-col>
          <b-col></b-col>
          <b-col></b-col>
          <b-col class="">
            STRETCH GOAL 3
            <p>
              500,000 ETH
            </p>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-progress height="2rem" :max="target" show-value class="mt-2">
              <b-progress-bar :value="sale.totalCollected" class="progressbar" :class="{'pr-2': sale.totalCollected > 10000 }">{{ sale.totalCollected | numFormat }}</b-progress-bar>
            </b-progress>
          </b-col>
        </b-row>
      </b-container>
      <div class="stretch mt-5 d-block d-sm-none">
        <b-row class="goals mobile">
          <b-col v-if="sale.totalCollected >= 0 && sale.totalCollected < 100000">
          </b-col>
          <b-col v-if="sale.totalCollected < 250000">
            STRETCH GOAL 1
            <p>
              100,000 ETH
            </p>
          </b-col>
          <b-col v-if="sale.totalCollected > 100000">
            STRETCH GOAL 2
            <p>
              250,000 ETH
            </p>
          </b-col>
          <b-col v-if="sale.totalCollected > 250000">
            STRETCH GOAL 3
            <p>
              500,000 ETH
            </p>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-progress height="2rem" :max="target" show-value class="mt-2">
              <b-progress-bar :value="sale.totalCollected" class="progressbar">{{ sale.totalCollected | numFormat }}</b-progress-bar>
            </b-progress>
          </b-col>
        </b-row>
        <b-row class="goals mobile mt-3">
          <b-col v-if="sale.totalCollected >= 0 && sale.totalCollected < 100000">
            <p>
              Phase 1
            </p>
          </b-col>
          <b-col v-if="sale.totalCollected < 250000">
            <p>
              Phase 2
            </p>
          </b-col>
          <b-col v-if="sale.totalCollected > 100000">
            <p>
              Phase 3
            </p>
          </b-col>
          <b-col v-if="sale.totalCollected > 250000">
            <p>
              Phase 4
            </p>
          </b-col>
        </b-row>
      </div>
      <b-container class="phases text-center mt-3">
        <b-row>
          <b-col cols="12" sm="6" xl="3" class="lg-top-3rem">
            <h6>Phase 1</h6>
            <img src="~@/assets/images/full-size-phase-1-image.png"/>
            <div class="phase-box mt-3">
              <img src="~@/assets/images/countries-phase-1.png">
              <div class="mt-3">
                <strong>Phase 1 <span class="d-none d-md-inline-block">contributors</span></strong>
                <p>
                  1 ETH = 400 CRV
                </p>
              </div>
            </div>
          </b-col>
          <b-col cols="12" sm="6" xl="3" class="lg-top-3rem">
            <h6>Phase 2</h6>
            <img src="~@/assets/images/full-size-phase-2-image-locked.png" v-if="sale.totalCollected < 100000"/>
            <img src="~@/assets/images/full-size-phase-2-image-unlocked.png" v-else/>
            <div class="phase-box mt-3">
              <img src="~@/assets/images/countries-phase-2.png">
              <div class="mt-3">
                <strong>Phase 1 <span class="d-none d-md-inline-block">contributors</span></strong>
                <p>
                  1 ETH = 440 CRV
                </p>
                <strong>Phase 2 <span class="d-none d-md-inline-block">contributors</span></strong>
                <p>
                  1 ETH = 400 CRV
                </p>
              </div>
            </div>
          </b-col>
          <b-col cols="12" sm="6" xl="3" class="lg-top-3rem">
            <h6>Phase 3</h6>
            <img src="~@/assets/images/full-size-phase-3-image-locked.png" v-if="sale.totalCollected < 250000"/>
            <img src="~@/assets/images/full-size-phase-3-image-unlocked.png" v-else/>
            <div class="phase-box mt-3">
              <img src="~@/assets/images/countries-phase-3.png">
              <div class="mt-3">
                <strong>Phase 1 <span class="d-none d-md-inline-block">contributors</span></strong>
                <p>
                  1 ETH = 480 CRV
                </p>
                <strong>Phase 2 <span class="d-none d-md-inline-block">contributors</span></strong>
                <p>
                  1 ETH = 440 CRV
                </p>
                <strong>Phase 3 <span class="d-none d-md-inline-block">contributors</span></strong>
                <p>
                  1 ETH = 400 CRV
                </p>
              </div>
            </div>
          </b-col>
          <b-col cols="12" sm="6" xl="3" class="lg-top-3rem">
            <h6>Phase 4</h6>
            <img src="~@/assets/images/full-size-phase-4-image-locked.png" v-if="sale.totalCollected < 500000"/>
            <img src="~@/assets/images/full-size-phase-4-image-unlocked.png" v-else/>
            <div class="phase-box mt-3 world">
              <img src="~@/assets/images/full-size-phase-3-worldwide-icon.png">
              <h5>
                Worldwide
              </h5>
              <div class="mt-3">
                <strong>Phase 1 <span class="d-none d-md-inline-block">contributors</span></strong>
                <p>
                  1 ETH = 520 CRV
                </p>
                <strong>Phase 2 <span class="d-none d-md-inline-block">contributors</span></strong>
                <p>
                  1 ETH = 480 CRV
                </p>
                <strong>Phase 3 <span class="d-none d-md-inline-block">contributors</span></strong>
                <p>
                  1 ETH = 440 CRV
                </p>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </b-card>

    <b-card v-if="!isEmailVerified" class="text-center wallet">
      <b-row class="no-margin">
        <b-col>
          <b-link v-on:click="verifyEmail()" class="link">
            Verify your account
          </b-link> to contribute to the ICO and receive CRV tokens.
        </b-col>
      </b-row>
    </b-card>

    <b-row v-if="isEmailVerified" class="text-center wallet no-margin">
      <b-col cols="12" md="6">
        <b-card footer-tag="footer">
          <h5>
            Your CRV Tokens Balance
          </h5>
          <h1>
            {{ sale.userTotalCRV | numFormat }}
          </h1>
          <div slot="footer" class="footer-text">
            You are qualified for <br/>
            <span class="green">
              Phase 1
            </span> contributions
          </div>
        </b-card>
      </b-col>
      <b-col cols="12" md="6">
        <b-card footer-tag="footer">
          <h5>
            You have contributed
          </h5>
          <h1>
            {{ sale.userContribution | numFormat }}
            <sup>
              ETH
            </sup>
          </h1>
          <div slot="footer">
            <b-button v-b-modal.contribute>
              Contribute More
            </b-button>
            <b-modal id="contribute" centered hide-footer>
              <div slot="modal-title">
                <img src="~@/assets/images/full-size-cv-coloured-logo.png" />
              </div>
              <div class="row">
                <div class="col-12">
                  <h5 class="contribute-header">Send Ether to this address</h5>
                  <div class="contribute mb-2">
                    0xCFD8F28E959AF51A224344371a39127B767e9526
                  </div>
                </div>
              </div>
            </b-modal>
          </div>
        </b-card>
      </b-col>
    </b-row>

    <b-card class="text-left transactions" v-if="transactions.length > 0">
      <h5>
        Transaction History
        <span class="tx-count">
          {{ transactions.length }} transactions
        </span>
      </h5>
      <b-table responsive="sm" :items="transactions" class="mt-3 grey-table-head"></b-table>
    </b-card>

    <div class="empty-txn-wrapper" v-if="transactions.length == 0">
      <b-card class="notif">
        No transactions found
      </b-card>
      <b-card class="text-left empty transactions">
        <h5>
          Transaction History
        </h5>
        <b-table responsive="sm" :items="emptyTxn" class="mt-3 grey-table-head"></b-table>
      </b-card>
    </div>

  </div>
</div>
