<div class="login">
  <div class="form-root">
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col-12">
          <a href="/">
            <img src="~@/assets/images/full-size-login-logo.png" alt="login" width="100%">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 sub-title">
          <h5 class="mb-3">Crowdvilla Token Sale</h5>
        </div>
        <div class="col-12">
          <b-form-group v-bind:state="checkValidEmail" style="width:100%;">
            <b-input-group>
              <b-input-group-addon>
                <img src="~@/assets/images/full-size-login-email-icon-dark.png" style="max-width:20px;">
              </b-input-group-addon>
              <v-popover
                trigger="manual"
                v-bind:open="checkValidEmail === 'invalid'"
                v-bind:placement="'right'"
                v-bind:auto-hide="false"
                popoverClass="warning"
                class="normal-input"
                style="width:100%;"
              >
                <b-form-input
                  v-model="email"
                  v-bind:state="checkValidEmail"
                  placeholder="Email Address"
                  ref="email"
                  type="text"
                  style="
                    width:100%;
                    min-height: 50px;
                    border-top-left-radius:0;
                    border-bottom-left-radius:0;
                    border-top-right-radius:4px;
                    border-bottom-right-radius:4px;
                  "
                >
                </b-form-input>
                <template slot="popover">
                  Please enter a valid email address
                </template>
              </v-popover>
            </b-input-group>
            <img src="~@/assets/images/full-size-alert-icon.png" v-if="checkValidEmail == 'invalid'" class="icon-in-input">
            <b-form-feedback><img src="~@/assets/images/full-size-alert-icon-white.png"> Please enter a valid email address</b-form-feedback>
          </b-form-group>
          <b-form-group v-bind:state="checkValidPassword" style="width:100%;">
            <b-input-group>
              <b-input-group-addon>
                <img src="~@/assets/images/full-size-login-password-icon-dark.png" style="max-width:20px;">
              </b-input-group-addon>
              <v-popover
                trigger="manual"
                v-bind:open="checkValidPassword == 'invalid'"
                v-bind:placement="'right'"
                v-bind:auto-hide="false"
                popoverClass="warning"
                class="normal-input"
                style="width:100%;"
              >
                <b-form-input
                  v-model="password"
                  v-bind:state="checkValidPassword"
                  placeholder="Password"
                  ref="password"
                  type="password"
                  style="
                    width:100%;
                    min-height: 50px;
                    border-top-left-radius:0;
                    border-bottom-left-radius:0;
                    border-top-right-radius:4px;
                    border-bottom-right-radius:4px;
                  "
                >
                </b-form-input>
                <template slot="popover">
                  Password must contain at least eight characters: both lower and uppercase letters, at least one number, and at least one special character
                </template>
              </v-popover>
            </b-input-group>
            <img src="~@/assets/images/full-size-alert-icon.png" v-if="checkValidPassword == 'invalid'" class="icon-in-input">
            <b-form-feedback><img src="~@/assets/images/full-size-alert-icon-white.png"> Password must contain at least eight characters: both lower and uppercase letters, at least one number, and at least onespecial character</b-form-feedback>
          </b-form-group>
        </div>
      </div>
      <div class="row justify-content-center">
        <Recaptcha
          ref="recaptcha"
          v-bind:sitekey="recaptchaKey"
          v-bind:state="checkValidRecaptcha"
          v-on:verify="setRecaptcha">
        </Recaptcha>
      </div>
      <div class="row justify-content-center mt-3">
        <b-button size="lg" type="button" v-bind:disabled="checkLoginStates()" v-on:click="submit(email, password, recaptcha)">
          Login
        </b-button>
      </div>
      <div class="row justify-content-center mt-2">
        <h6 class="sub-text">
          <a href="/registration">Create a new account</a> |
          <a href="/login/forgot_password">Forgot password?</a>
        </h6>
      </div>
      <NeedHelp />
    </div>
  </div>
</div>
