<div class="kyc">
  <div class="profile">
    <b-card class="text-left">
      <h5>
        Account Details
      </h5>
      <b-row class="mt-4">
        <b-col cols="12" sm="6">
          <b-row class="mb-3">
            <b-col>
              Email Address
              <b-form-input type="email" disabled v-model="email"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="mb-3">
            <b-col>
              Old Password
              <b-form-group
                v-bind:state="checkOldPassword"
                style="width:100%;"
              >
                <b-input-group>
                  <v-popover
                    trigger="manual"
                    v-bind:open="checkOldPassword == 'invalid'"
                    v-bind:placement="'right'"
                    v-bind:auto-hide="false"
                    popoverClass="warning"
                    class="normal-input"
                    style="width:100%;">
                    <b-form-input
                      v-model="oldPassword"
                      v-bind:required="true"
                      v-bind:state="checkOldPassword"
                      placeholder="Old Password"
                      type="password"
                      style="
                        width:100%;
                        min-height: 30px;
                      "
                    >
                    </b-form-input>
                    <template slot="popover">
                      Password must contain at least eight characters: both lower and uppercase letters, at least one number, and at least one special character
                    </template>
                  </v-popover>
                </b-input-group>
                <img src="~@/assets/images/full-size-alert-icon.png" v-if="checkValidPassword == 'invalid' || checkPasswordMatch == 'invalid'" class="icon-in-input">
                <b-form-feedback><img src="~@/assets/images/full-size-alert-icon-white.png"> Password must contain at least eight characters: both lower and uppercase letters, at least one number, and at least one special character</b-form-feedback>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="mb-3">
            <b-col>
              New Password
              <b-form-group
                v-bind:state="checkValidPassword"
                style="width:100%;"
              >
                <b-input-group>
                  <v-popover
                    trigger="manual"
                    v-bind:open="checkValidPassword == 'invalid'"
                    v-bind:placement="'right'"
                    v-bind:auto-hide="false"
                    popoverClass="warning"
                    class="normal-input"
                    style="width:100%;">
                    <b-form-input
                      v-model="password"
                      v-bind:required="true"
                      v-bind:state="checkValidPassword"
                      placeholder="New Password"
                      type="password"
                      style="
                        width:100%;
                        min-height: 30px;
                      "
                    >
                    </b-form-input>
                    <template slot="popover">
                      Password must contain at least eight characters: both lower and uppercase letters, at least one number, and at least one special character
                    </template>
                  </v-popover>
                </b-input-group>
                <img src="~@/assets/images/full-size-alert-icon.png" v-if="checkValidPassword == 'invalid' || checkPasswordMatch == 'invalid'" class="icon-in-input">
                <b-form-feedback><img src="~@/assets/images/full-size-alert-icon-white.png"> Password must contain at least eight characters: both lower and uppercase letters, at least one number, and at least one special character</b-form-feedback>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="mb-3">
            <b-col>
              Confirm Password
              <b-form-group
                v-bind:state="checkPasswordMatch"
                style="width:100%;"
              >
                <b-input-group>
                  <v-popover
                    trigger="manual"
                    v-bind:open="checkPasswordMatch == 'invalid'"
                    v-bind:placement="'right'"
                    v-bind:auto-hide="false"
                    popoverClass="warning"
                    class="normal-input"
                    style="width:100%;">
                    <b-form-input
                      v-model="confirmPassword"
                      v-bind:required="true"
                      v-bind:state="checkPasswordMatch"
                      placeholder="Confirm Password"
                      type="password"
                      style="
                        width:100%;
                        min-height: 30px;
                      "
                    >
                    </b-form-input>
                    <template slot="popover">
                      The passwords you entered do not match
                    </template>
                  </v-popover>
                </b-input-group>
                <img src="~@/assets/images/full-size-alert-icon.png" v-if="checkPasswordMatch == 'invalid'" class="icon-in-input">
                <b-form-feedback><img src="~@/assets/images/full-size-alert-icon-white.png"> The passwords you entered do not match</b-form-feedback>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="mb-3">
            <b-col>
              <b-button
                size="lg"
                type="button"
                variant="success"
                v-bind:disabled="checkPasswordStates()"
                v-on:click="changePassword(oldPassword, password)"
              >
                Update Details
              </b-button>
            </b-col>
          </b-row>
        </b-col>
        <b-col v-if="!isEmailVerified" v-on:click="verifyEmail()">
          <b-row>
            <b-col>
              <b-button variant="warning">Resend Email Verification</b-button>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>
  </div>
  <div class="verify">
    <b-card class="text-left">
      <h5>
        KYC Details
        <i class="sub-text d-block d-md-inline">
          All documents need to be uploaded before submission
        </i>
      </h5>
      <div class="notice text-left notify" v-if="isKYCSubmitted && !isKYCVerified">
        <h6 class="failure">
          KYC verification is pending
        </h6>
        <div class="remarks">
          <span class="failure">
            Your KYC details is being reviewed by our KYC partner
          </span>
        </div>
      </div>
      <div class="notice text-left notify" v-if="!isKYCSubmitted">
        <h6 class="failure">
          KYC verification not completed
        </h6>
        <div class="remarks">
          <span class="failure">
            Please submit your KYC details for verification
          </span>
        </div>
      </div>

      <!-- Details -->

      <h5 class="mt-5">
        Details
        <i class="sub-text d-block d-md-inline">
          Please enter your personal details
        </i>
      </h5>
      <b-row class="mt-4">
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            First Name
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-input
                    v-model="firstName"
                    ref="firstName"
                    type="text"
                  >
              </b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Middle Name
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-input
                    v-model="middleName"
                    ref="middleName"
                    type="text"
                  >
              </b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Last Name
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-input
                    v-model="lastName"
                    ref="lastName"
                    type="text"
                  >
              </b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Birthday
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-input
                    v-model="birthday"
                    placeholder="Birthday"
                    ref="birthday"
                    type="date"
              >
              </b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Country of Birth
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-select
                v-model="birthCountry"
                v-bind:options="fields.countries"
              >
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Nationality
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-select
                v-model="nationality"
                v-bind:options="fields.nationalities"
              >
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Country of Residence
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-select
                v-model="residenceCountry"
                v-bind:options="fields.countries"
              >
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Gender
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-select
                v-model="gender"
                v-bind:options="fields.genders"
              >
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Address
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-input
                v-model="address"
                placeholder="Address"
                ref="address"
                type="text"
              >
              </b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>

      <!-- Documents -->

      <h5 class="mt-5">
        Documents
        <i class="sub-text d-block d-md-inline">
          Please upload your identifying documentations
        </i>
      </h5>
      <b-row class="mt-4">
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Scan / Photo of ID / Passport
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-file accept="image/*" choose-label="Upload" v-model="identification">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Selfie Holding ID / Passport
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-file accept="image/*" choose-label="Upload" v-model="selfie">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Proof of Residence
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-file accept="image/*" choose-label="Upload" v-model="residence">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>

      <!-- Notices & Agreements -->

      <h5 class="mt-5">
        Notices & Agreements
        <i class="sub-text d-block d-md-inline">
          Please download, read and sign these forms
        </i>
      </h5>
      <b-row class="mt-4">
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Token Sale Agreement
            <b-link class="pl-2 align-self-end" href="">
              <img src="~@/assets/images/mobile-download-icon.png" alt="">
            </b-link>
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-file accept="image/*" choose-label="Upload" v-model="signedformTSA">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Product Information Notice
            <b-link class="pl-2 align-self-end" href="">
              <img src="~@/assets/images/mobile-download-icon.png" alt="">
            </b-link>
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-file accept="image/*" choose-label="Upload" v-model="signedformPIN">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Consumer Information Notice
            <b-link class="pl-2 align-self-end" href="">
              <img src="~@/assets/images/mobile-download-icon.png" alt="">
            </b-link>
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-file accept="image/*" choose-label="Upload" v-model="signedformCIN">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Privacy Policy
            <b-link class="pl-2 align-self-end" href="">
              <img src="~@/assets/images/mobile-download-icon.png" alt="">
            </b-link>
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-file accept="image/*" choose-label="Upload" v-model="signedformPP">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>

      <!-- ETH Address -->

      <h5 class="mt-5">
        Your ETH Address
      </h5>
      <p class="mb-3 word-break-all">
        <b-form-input
          v-model.trim="ethAddress"
          placeholder="0x0"
          ref="ethAddress"
          type="text"
        >
        </b-form-input>
      </p>

      <!-- v-bind:disabled="checkKYCStates()" -->
      <b-button
        class="mt-5"
        variant="success"
        v-on:click="submit({
                            firstName,
                            middleName,
                            lastName,
                            birthday,
                            birthCountry,
                            nationality,
                            residenceCountry,
                            gender,
                            address,
                            identification,
                            selfie,
                            residence,
                            signedformTSA,
                            signedformPIN,
                            signedformCIN,
                            signedformPP,
                            ethAddress,
                          })"
        v-bind:disabled="canSubmit"
      >
        Submit for KYC Verification
      </b-button>
    </b-card>
  </div>
</div>
