<div class="sidebar">
  <b-nav vertical>
    <b-nav-item v-bind:active="isActive('dashboard')" v-on:click="navigate('dashboard')">
      <span class="img-wrapper text-center">
        <img src="~@/assets/images/full-size-dashboard-icon.png" alt="">
      </span>
      <span class="nav-text">
        Dashboard
      </span>
    </b-nav-item>
    <b-nav-item v-bind:active="isActive('myprofile')" v-on:click="navigate('myprofile')">
      <span class="img-wrapper text-center">
        <img src="~@/assets/images/full-size-my-profile-icon.png" alt="">
      </span>
      <span class="nav-text">
        My Profile
      </span>
    </b-nav-item>
    <b-nav-item v-bind:active="isActive('help')" v-on:click="navigate('help')">
      <span class="img-wrapper text-center">
        <img src="~@/assets/images/full-size-user-help-icon.png" alt="">
      </span>
      <span class="nav-text">
        Help
      </span>
    </b-nav-item>
    <b-nav-item v-bind:active="isActive('faq')" v-on:click="navigate('faq')">
      <span class="img-wrapper text-center">
        <img src="~@/assets/images/full-size-faq-icon.png" alt="">
      </span>
      <span class="nav-text">
        FAQ
      </span>
    </b-nav-item>
  </b-nav>
</div>
